* {
    font-family: 'Lato', sans-serif;
}

#background {
    position: absolute;
    height: 100vh;
    background-color: #dbdbd2;
}

#header {
    background-color: #009688;
    height: 15vh;
}

.container {
    position: relative;
    z-index: 2;
    height: 90vh;
    top: 5vh;
}

/* main reale */
#main {
    height: 90vh;
}

/* tutte le chat */
#all_chats {
    height: 90vh;
}

#user {
    padding: 10px 5px;
    background-color: #eaeaea;
    border-right: solid 1px #b1b1b1;
}

#user div:first-child {
    padding-left: 5px;
}

.gray_icons {
    color: #b1b1b1;
    text-decoration: none;
}

.avatar {
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
}

.user_buttons a {
    margin-right: 8px;
}

.notification_icon_background {
    border-radius: 100%;
    background-color: #f2fbff;
    padding: 15px 14px;
}

#notifications {
    background-color: #8edafc;
    padding: 15px 14px;
}

#notifications i {
    color: #8edafc;
}

#notifications div {
    margin-left: 10px;
}

#notifications p {
    margin: 0;
}

#notifications a {
    color: gray;
    font-size: 13px;
}

#search {
    border: solid 3px #fafafa;
    background-color: white;
}

#search a {
    margin-right: 12px;
}

.input_width {
    flex: 1;
}

#chat_list {
    background-color: white;
    height: calc(100vh - 60px - 78px - 36px - 10vh);
    overflow: scroll;
}

.chat {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: list-item;
}

#chat_list h5 {
    margin-bottom: 0;
    font-size: 17px;
}

#chat_list p {
    font-size: 14px;
    color: gray;
}


/* chat singola a dx */
#single_chat {
    background-color: #eaeaea;
    height: 90vh;
}

#contact {
    padding: 10px 10px;
    background-color: #eaeaea;
    border-left: solid 1px #b1b1b1;
}

.open_chat_contact {
    margin-left: 10px;
}

.open_chat_contact p {
    margin: 0;
}

.open_chat_contact p:last-child {
    font-size: 11px;
    color: gray;
}

#open_chat {
    background-image: url(img/background.jpg);
    height: calc(100vh - 10vh - 60.5px - 50px);
    overflow: auto;
}

#chat {
    margin-top: 40px;
}

.message {
    margin-bottom: 10px;
}

.sent_mex {
    background-color: #d5f9ba;
    padding: 10px 15px 5px 15px;
    border-radius: 12px;
    width: 250px;
}

.sent_mex p:first-child {
    margin-bottom: -5px;
}

.received_mex {
    background-color: white;
    padding: 10px 15px 5px 15px;
    border-radius: 12px;
    width: 250px;
}

.received_mex p:first-child {
    margin-bottom: -5px;
}

.time {
    font-size: 10px;
    color: gray;
    align-self: flex-end;
}

#write {
    padding: 10px 20px;
}

#write a:first-child {
    margin-right: 20px;
}

#write a:last-child {
    margin-left: 20px;
}

#write i {
    font-size: 20px;
}